<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shayanwallet">

    <application
        android:allowBackup="true"
        android:label="Shayan Wallet"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Material3.DayNight.NoActionBar">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- سایر اکتیویتی ها هم اگه دارید باید android:exported مشخص بشه -->
        <activity android:name=".activities/HomeActivity" android:exported="false"/>
        <activity android:name=".activities/AddInvestmentActivity" android:exported="false"/>
        <activity android:name=".activities/AddPurchaseActivity" android:exported="false"/>
        <activity android:name=".activities/AddTransactionActivity" android:exported="false"/>
        <activity android:name=".activities/FuturePurchasesActivity" android:exported="false"/>

    </application>

</manifest>
